body{
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
}
.header{
  color: #ffffff;
  background-color: #1b2127;
  display: flex;
  justify-content: space-between;
  height: 90px;
}
.menu{
  height: inherit;
}
.header ul{
  display: flex;
  height: inherit;
}
.header ul li{
  height: inherit;
}
.header a {
  text-decoration: none;
  color: white;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
figure{
  margin: 0;
}
h1{
  font-size: 40px;
  line-height: 1.5em;
  letter-spacing: -.2px;
  color: white;
  margin: 0;
  /*text-transform: uppercase;*/
  /*text-decoration: dashed;*/
}
h1 strong{
  color: #026fff;
}
.hero{
  height: 300px;
  background-image: url('https://static.platzi.com/media/tmp/class-files/git/desarrollo-web-portafolio/desarrollo-web-portafolio-9af19a0a0fcd9fb6a66c3831cca6aaebf3328762/images/hero.jpg');
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-color: #1b2127;
}
.portfolio{
  background: #fafafa;
}
.project{
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background: white;
}
.project_details{
  width: 500px;
}
.project_imageContainer{
  width: 500px;
}
